@use "../../style/index.scss";
@use "../../style/input.scss";

.background {
	position: absolute;
	top: 0;
	left: 0;
	background-color: index.$color-background;
	width: 100vw;
	height: 100vh;
	color: index.$color-font;
}

.contain {
	margin: 60px 100px;

  .title-bar {
    position: relative;
		margin-bottom: 15px;

    .back-button {
      position: absolute;
			top: 17px;
			right: 20px;
    }
	}

	.background-icon {
		position: absolute;
		right: 0px;
		bottom: 0px;
		opacity: 30%;
	}

	.info-editer {
		overflow: hidden;
		width: 80%;

		.info-editer-contain {
			display: flex;
			justify-content: center;
			margin-top: 30px;
			height: 38vh;

			.input-div {
				margin-right: 300px;
			}

			.input-div div {
				position: relative;
				margin: 12px;
	
				span {
					padding: 20px;
				}
	
				input {
					position: absolute;
					left: 120px;
				}
			}
	
			.textarea-div div {
				margin: 12px;
			}
		}
		
		.save-button {
			display: flex;
			justify-content: center;
			margin-bottom: 20px;
		}
	}
}