@use "../../style/index.scss";

.background {
	position: absolute;
	top: 0;
	left: 0;
	background-color: index.$color-background;
	width: 100vw;
	height: 100vh;
	color: index.$color-font;
}

.contain {
	margin: 60px 100px;

  .title-bar {
    position: relative;
		margin-bottom: 15px;

    .back-button {
      position: absolute;
			top: 17px;
			right: 20px;
    }
	}

	.info-editer {
		.save-button {
			display: flex;
			justify-content: center;
		}
	}
}