.glass {
    padding: 12px;
    background-color: #6e6e6e47;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.7),
                inset 1px 1px 6px rgba(255,255,255,0.3);

    .card-title {
        margin: 6px 12px;
    }

    .card-blod-title {
        font-size: large;
        font-weight: bold;
    }
}
.glass:hover{
    backdrop-filter: blur(7px);
    box-shadow: 4px 4px 25px rgba(0,0,0,0.9),
    inset 1px 1px 3px rgba(255,255,255,0.6);
}