@use "../../style/index.scss";
@use "../../style/input.scss";

.background {
	position: absolute;
	top: 0;
	left: 0;
	background-color: index.$color-background;
	width: 100vw;
	height: 100vh;
	color: index.$color-font;
}

.contain {
	margin: 60px 100px;

	.background-icon {
		position: absolute;
		right: 0px;
		bottom: 0px;
		opacity: 30%;
	}

  .title-bar {
    position: relative;
		margin-bottom: 15px;

    .back-button {
      position: absolute;
			top: 17px;
			right: 20px;
    }
	}

	.info-editer {
		overflow: hidden;
		padding: 30px;
		margin-top: 10vh;
		width: 70%;
		height: 40vh;
		.input-div {
			width: 30vw;
			margin: 12px;
			input{
				margin-left: 2vw;
				height: 30px;
				width: 250px;

			}
		}
	}

	.save-button {
		display: flex;
		justify-content: center;
	}
	.dark-button-disabled {
		pointer-events: none; /* 禁用点击事件 */
		opacity: 0.5; /* 降低按钮不透明度，使其看起来被禁用 */
		/* 可以根据需要添加其他样式，例如改变按钮的颜色或者添加禁用图标等 */
	}

}