$color-background: #000000d8;
$color-font: #fff;

$dp-1: #121212;
$dp-2: #1e1e1e;
$dp-3: #232323;
$dp-4: #252525;
$dp-5: #272727;
$dp-6: #2c2c2c;
$dp-7: #2e2e2e;
$dp-8: #333333;
$dp-9: #363636;
$dp-10: #383838;

$green-dark-500: #334843;
$green-dark-600: #4ab59e;
$green-dark-700: #48a2a2;

$blue-dark-500: #283740;
$blue-dark-600: #71abc7;
$blue-dark-700: #a0cddf;

$yellow-dark-500: #665220;
$yellow-dark-600: #b78f44;
$yellow-dark-700: #dfbf67;

$red-dark-400: #40292a;
$red-dark-500: #754848;
$red-dark-600: #da8484;
$red-dark-700: #e8a8a8;
$red-dark-800: #e8c1c0;

$purple-dark-600: #8191cf;

$pink-dark-500: #5b3943;
$pink-dark-600: #b4687d;
$pink-dark-700: #d89dac;