@use "./index.scss";

.Input {
	border-radius: 5px;
	border: solid 2px index.$dp-3;
	outline: 0;
	background-color: index.$dp-8;
	color: index.$color-font;
}

.Input:hover {
	border: solid 2px index.$dp-1;
}

.Input:focus {
	border: solid 2px index.$blue-dark-600;
}

.Textarea {
	border-radius: 5px;
	border: solid 2px index.$dp-3;
	outline: 0;
	background-color: index.$dp-8;
	color: index.$color-font;
}

.Textarea:hover {
	border: solid 2px index.$dp-1;
}

.Textarea:focus {
	border: solid 2px index.$blue-dark-600;
}