@use "./index.scss";

input {
	border-radius: 5px;
	border: solid 2px index.$dp-3;
	outline: 0;
	background-color: index.$dp-8;
	color: index.$color-font;
}

input:hover {
	border: solid 2px index.$dp-1;
}

input:focus {
	border: solid 2px index.$blue-dark-600;
}

textarea {
	border-radius: 5px;
	border: solid 2px index.$dp-3;
	outline: 0;
	background-color: index.$dp-8;
	color: index.$color-font;
}

textarea:hover {
	border: solid 2px index.$dp-1;
}

textarea:focus {
	border: solid 2px index.$blue-dark-600;
}