@use "../../style/index.scss";

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: index.$color-background;
    width: 100vw;
    height: 100vh;
    color: index.$color-font;
    .back-button {
        position: absolute;
              top: 17px;
              right: 20px;
      }
}

.title {
    margin: 60px 100px;
}

.waitApproval{
    display: inline-block;
    width: 35%;
    height: 60vh;
}

.finishApproval{
    display: inline-block;
    width: 35%;
    height: 60vh;
}

.approvalContain {
    display: flex;
    margin-top: 10vh;
    justify-content: space-around;
    width: 100%;
    margin-right: 60px;
}

.student{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #444;
    width: 33vw;
    border-radius: 15px;
}

.waitStudentBox{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}