@use "../../style/index.scss";

.background {
	position: absolute;
	top: 0;
	left: 0;
	background-color: index.$color-background;
	width: 100vw;
	height: 100vh;
	color: index.$color-font;
}

.contain {
	margin: 60px 100px;

	.title-bar {
		margin-bottom: 15px;
		position: relative;

		.logout {
			position: absolute;
			bottom: 10px;
			right: 30px;
			cursor: pointer;

			span {
				padding: 0 8px 6px 8px;
			}
		}
	}

	.info-card {
		position: relative;
		overflow: hidden;
		display: inline-flex;
		flex-direction: column;
		width: 300px;
		height: 60vh;
		margin-top: 5vh;
		margin-left: 10px;
		margin-right: 10px;

		.background-icon {
			position: absolute;
			right: -50px;
			bottom: -50px;
			opacity: 30%;
		}
	}

	.detail-info {
		.edit-button {
			position: absolute;
			top: 20px;
			right: 46px;
		}

		.switch-button {
			position: absolute;
			top: 20px;
			right: 20px;
		}

		div span {
			float: right;
		}
	}

	.detail-info:hover {
		background-color: index.$blue-dark-500;
	}

	.setting:hover {
		background-color: index.$yellow-dark-500;
	}

	.related-info:hover {
		background-color: index.$green-dark-500;
	}

	.communication:hover {
		background-color: index.$pink-dark-500;
	}
	
	.approval:hover{
		background-color: index.$green-dark-500;
	}
}